<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>パスワード自動生成</title>
  </head>
  <body>
    <form>
      <fieldset>
        <legend>パスワード生成ルール</legend>
        <input type="checkbox" id="rule_numeric" checked />数字
        <input type="checkbox" id="rule_uppercase" checked />英大文字
        <input type="checkbox" id="rule_lowercase" checked />英小文字
        <input type="checkbox" id="rule_symbol" checked />記号<br />
        長さ<input type="number" id="rule_length" />
      </fieldset>
      <p>
        <input type="button" id="gonode" value="パスワード生成" />
        <input type="text" id="passwd" value="" />
      </p>
    </form>
    <script type="text/javascript">
      $(function () {
        $('#gonode').on('click', function () {
          let length = $('#rule_length').val();
          let nc = $('#rule_numeric:checked').val();
          let uc = $('#rule_uppercase:checked').val();
          let lc = $('#rule_lowercase:checked').val();
          let sb = $('#rule_symbol:checked').val();

          $.ajax({
            async: false,
            url: 'http://localhost:3000/pass',
            type: 'post',
            data: { length: length, nc: nc, uc: uc, lc: lc, sb: sb },
            dataType: 'json',
          })
            .done(function (res) {
              $('#passwd').val(res.passwd);
              $('#passwd').css('background-color', 'yellow');
            })
            .fail(function (xhr, status, error) {
              alert('サーバ通信エラーが発生しました！');
            });
        });
      });
    </script>
  </body>
</html>
